body{
    margin: 0px;
    background-image: url(../images/background.jpg);
    background-repeat: repeat;
    color: white;
}

header{
    background-color: black;
    border: 5px solid greenyellow;
    margin: 0px auto;
    margin-top: 30px;
    max-width: 600px;
    padding:20px;
}

header h1{
    text-align: center;
}

header p{
    font-family: "Press Start 2P", serif;
    font-size: 20px;
    line-height: 30px;
}

header img{
    width: 190px;
    border: 5px solid greenyellow;
}

a img{
    max-width: 100px;
}

h1, h2{
    color: greenyellow;
    font-family: "Press Start 2P", serif;
}

h1{
    font-size: 25px;
}

main{
    background-color: black;
    border: 5px solid greenyellow;
    margin: 0px auto;
    margin-top: 30px;
    max-width: 1000px;
    padding:20px;
}

footer{
    background-color: greenyellow;
    border: 5px solid greenyellow;
    margin: 0px auto;    
    margin-top: 30px;
    padding: 0px 30px;
    font-family: "Press Start 2P", serif;
    color: black;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
}

main a, main a:hover, footer a, footer a:hover{
    font-family: "Press Start 2P", serif;
    padding: 5px;
    text-decoration: none;
}
main a{
    border: 5px solid greenyellow;
    color: black;
    background-color: greenyellow;
}
main a:hover{
    border: 5px solid greenyellow;
    color: greenyellow;
    background-color: black;
}
footer a{
    border: 5px solid black;
    color: greenyellow;
    background-color: black;
}
footer a:hover{
    border: 5px solid black;
    color: black;
    background-color: greenyellow;
}