@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

/*----------------------*/
/* Fonts Default Config */
/*----------------------*/

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.dotgothic16-regular {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

      
/*------------*/
/* Body Style */
/*------------*/

body{
    margin: 0px;
    background: url(../images/background.jpg) repeat;
    color: rgb(236, 236, 166);

    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
}

p{
    font-family: "silkscreen";
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Press Start 2P";
    margin: 0;
}

/*--------------*/
/* Experimentos */
/*--------------*/
/* black rgb(16, 16, 16); */
/* green  rgb(166,236,36); */
/* yellow rgb(236, 236, 166); */

header{
    margin: 10vh;
    background-color: rgb(16, 16, 16);
    border: 6px solid rgb(166, 236, 36);
    padding: 10px;
    max-width: 600px; min-width: 520px;
}

.box{
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.imgbox{
    max-width: 40%;
}

.infobox{
    max-height: 60%;
    line-height: 20px;
}

.separador{
    margin: 10px;
    max-width: 100%;
    border-top: 3px dashed rgb(166, 236, 36);
}

header h2{
    padding: 10px;
    text-align: center;
}

.boxlink{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.link{
    margin: 5px;
    border: 3px solid rgb(166, 236, 36);
}

footer{  
    margin-top: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgb(166, 236, 36);
    line-height: 25px;
}

footer p{
    text-align: center;
    color: rgb(16, 16, 16);
}

footer a{
    text-decoration: none;
    border: 5px solid rgb(16, 16, 16);
    color: rgb(166, 236, 36);
    background-color: rgb(16, 16, 16);
}